<!doctype html>
<html>
<body style="background: #fafcfc; padding-top: 10px">
<center>
    <table border="0" cellpadding="0" cellspacing="0" width="600px">
        <tr>
            <td colspan="2" height="15px"></td>
        </tr>
        <tr>
            <td>
                <img style="margin: 0px 10px 10px; border: 0; padding: 0; display: inline-block; vertical-align: middle" src="http://static.fibaro.com/wizard/logo_top.png" width="237px" height="34px"/>
            </td>
            <td>
                <p style="font-family: Arial, sans-serif; font-size: 15px; text-align: right; color: #000000; margin: 20px 10px 10px; border: 0; padding: 0;">
                    Fibaro System
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="15px" style="border-bottom: 1px solid #e3e3e3"></td>
        </tr>
        <tr>
            <td colspan="2" height="40px"></td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <img style="margin: 0; border: 0; padding: 0; display: block;" src="http://static.fibaro.com/wizard/user_icon.png" width="96px" height="96px"/>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="20px"></td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-family: Arial, sans-serif; font-size: 20px; text-align: center;"><strong>Podejrzane Próby Logowania Uniemożliwione</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-family: Arial, sans-serif; font-size: 14px; text-align: center; color: #666666">Odnotowano 5 błędnych prób logowania do centrali {{hcSerial}}, które wyglądały podejrzanie.<br>
				Dla Twojego bezpieczeństwa następujący adres IP: {{host}} został zablokowany na 30 minut.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="80px"></td>
        </tr>
        <tr>
            <td colspan="2" height="30px" style="border-bottom: 1px solid #e3e3e3"></td>
        </tr>
        <tr>
            <td colspan="2" height="15px"></td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-family: Arial, sans-serif; font-size: 12px; text-align: center; color: #939393; line-height: 22px;">&copy;2018. FIBAR GROUP. All rights reserved<br />
                    <a style="color: #939393; text-decoration: underline;" href="http://www.fibaro.com">www.fibaro.com</a>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" height="5px"></td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="font-family: Arial, sans-serif; font-size: 12px; text-align: center;"></p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <center>
                    <a href="https://www.facebook.com/fibaro.global" style="text-decoration: none; margin-right: 75px">
                        <img style="margin: 0; border: 0; padding: 0; display: inline-block;" src="http://static.fibaro.com/wizard/fb_icon.png" width="32px" height="32px"/>
                    </a>
                    <a href="https://twitter.com/FibaroGlobal" style="text-decoration: none; margin-right: 75px">
                        <img style="margin: 0; border: 0; padding: 0; display: inline-block;" src="http://static.fibaro.com/wizard/tw_icon.png" width="32px" height="32px"/>
                    </a>
                    <a href="https://www.youtube.com/channel/UCRTX4A0btp062eRjcqmoEdg" style="text-decoration: none; margin-right: 75px">
                        <img style="margin: 0; border: 0; padding: 0; display: inline-block;" src="http://static.fibaro.com/wizard/yt_icon.png" width="32px" height="32px"/>
                    </a>
                    <a href="https://plus.google.com/114266792369890047313" style="text-decoration: none;">
                        <img style="margin: 0; border: 0; padding: 0; display: inline-block;" src="http://static.fibaro.com/wizard/gplus_icon.png" width="32px" height="32px"/>
                    </a>
                </center>
            </td>
        </tr>
    </table>
</center>
</body>
</html>

</body>
</html>
